<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComingSoon</title>
    <link rel="shortcut icon" type="image/png" href="{%  static '/images/arpify_favicon.png' %}"/>
    <link rel="stylesheet" href="{%  static '/css/coming_soon.css' %}">
</head>
<body>
    <div id="seed-csp4-page">
        <div id="seed-csp4-content">
            <img id="seed-csp4-image" src="{%  static '/images/arpify_logo.png' %}">
            <h1 id="seed-csp4-headline">Get Ready... Something Really Cool Is Coming Soon</h1>
            <h2>Social Book Reading</h2>
            <h2>coding by best team ever</h2>
        </div>
    </div>
</body>
</html>