<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/quote.scss' %}"/>
</head>
<body>
{% block content%}
    <h1>Quotes Gallery</h1>
    <div class="gallery" id="gallery">
        <div class="gallery-item">
            {% for quote in quote_list %}
            <div class="content"><img src="{{MEDIA_URL}}{{quote.quote_file.url}}" alt="???"></div>
            <p>{{ quote.book_title }}</p>
            <p>{{ quote.book_category }}</p>
            <p>{{ quote.date_posted }}</p>
            <p>{{ quote.author.email }}</p>
            <p>{{ quote.author.first_name }}</p>
            <p>{{ quote.author.last_name }}</p>
            <p>{{ quote.author.created }}</p>
            <p>{{ quote.author.pk }}</p>
            <form action="{% url 'like_quote' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="quote_id" value="{{ quote.id }}" class="btn btn-primary">LIKE</button>
            </form>
            <p>likes - {{ quote.total_likes }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

</body>

</html>

