<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComingSoon</title>
    <link rel="shortcut icon" type="image/png" href="{%  static '/images/arpify_favicon.png' %}"/>
    <link rel="stylesheet" href="{%  static '/css/coming_soon.css' %}">
</head>
<body>
<div id="seed-csp4-page">
    <div id="seed-csp4-content">
        <h1 id="seed-csp4-headline">ARPIFY Social Book Reading Back-End App</h1>
        <h1>Get Ready . . . Something Really Cool Is Coming Soon</h1>
        <a href="https://social-reading-application.herokuapp.com" title="Click To See Front-End App" target="_blank">
            <img id="seed-csp4-image" src="{%  static '/images/book.png' %}" width="50%" height="1%">
        </a>

        <ul style="list-style-type: none">
            <li style="font-size: 50px"><a href="https://socialreading.xyz/docs/">Swagger Documentation</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/library/">Books Library</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/sentences/">Book Sentences</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/categories/">Categories</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/quotes/">Quotes</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/comments/">Comments</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/likes/">Likes</a></li>
            <li style="font-size: 50px"><a href="https://socialreading.xyz/save/">Users Save Quotes</a></li>
        </ul>
    </div>
</div>
<footer class="footer" style="background-color:#0096FF; font-size:200%; margin-bottom: 0px;">© All right reserved by
    Hayk Serobyan
</footer>
</body>
</html>